<div class="main">
  <h1>Please Login to Continue</h1>
  <ul class="cards">
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="https://lh3.googleusercontent.com/5e3osXks8ulQund-1aBAplSC7OaqfbFEK7Px3UkgzTnlBeSU9aOadNBt5wCLN6wt8FTbhRzV2PLtfCm_da7mE3ETBs7nTidhfhU4_PT9VwIqn1PII5YLrfd57WknY_Km0KYaR4Pf7A=w2400" alt="Avatar" style="width:100%"></div>
        <div class="card_content">
          <h2 class="card_title">Dogs</h2>
        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="https://lh3.googleusercontent.com/CXErnpdh68RRqNENGkHGIfMAElkSZRWNAIGRnd5x2a59Qmx2wI9KOE6YCKZGFgA4S1wbJh3m1Gfgm9fcnqNm35-XkuSooDHQLZ9a5F4h-u2gCT8j0Ush-n8vNm-_AGGOBF9PdXnJzA=w2400" alt="Avatar" style="width:100%"></div>
        <div class="card_content">
          <h2 class="card_title">Cats</h2>
        </div>
      </div>
    </li>
