{{#each pets as |pet| }}
<div class="row mb-4 project">
  <li class="cards_item">
                      <div class="card">
                       
                        <div class="card_content">
                          <h2 class="card_title">Pet Name Here:{{pet.name}}</h2>
                          <p class="card_text">Breed:{{pet.breed}} </p>
                          <p class="card_text">Toys:{{pet.toys}} </p>
                          <p class="card_text">Notes:{{pet.notes}} </p>
                        </div>
                      </div>
   </li>
</div>

{{/each}}
   

