<style>
  :root{
    background-color: black;
    
  }
 #text{
   color: black;
   text-align: center;
 }
 #innerText{
   color: white;
   text-align: center;
 }

 #delete-post-btn{
   background-color: red;
 }
</style>


{{#each pets as |pet| }}
<div class=" align-items-center project">

  <li class="col">
                      <div class="col">
                       
                        <div class="card_content">
                          <h2 class="card_title"><div id="text">Name:</div><div id="innerText">{{pet.name}}</div></h2>
                          <p class="card_text"><div id="text"> Breed</div><div id="innerText">{{pet.breed}} </div></p>
                          <p class="card_text"><div id="text"> Toys:</div><div id="innerText">{{pet.toys}}</div> </p>
                          <p class="card_text"><div id="text"> Notes:</div><div id="innerText">{{pet.notes}}</div> </p>
                        </div>
                        <button type="submit" class="btn my-1 mx-2" id="delete-post-btn">Delete</button>

                      </div>
   </li>
                    

</div>
{{/each}}