<div class="main">
  <form action="/action_page.php">
  <label for="fname">Search Product:</label>
  <input type="text" id="fname" name="fname"><br><br> </form>
  <ul class="cards">
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="https://picsum.photos/500/300/?image=11" alt="Avatar" style="width:100%"></div>
        <div class="card_content">
          <h2 class="card_title">Product1</h2>
        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="https://picsum.photos/500/300/?image=11"></div>
        <div class="card_content">
          <h2 class="card_title">Product2</h2>
        </div>
      </div>
    </li>
   
      </div>
    </li>
  </ul>
</div>