<section>
  <h2 class="title">Add new pet</h2><hr>

  <form class="cards-item">
    <div>
      <label for="post-title" class="mx-2">Pet name:</label>
      <input class="input" type="text" id="pet-title" name="post-title" placeholder="petName">
    </div>
{{!-- tyoe  --}}
     <div>
      <label for="post-title" class="mx-2">Type:</label>
      <input class="input" type="text" id="type-title" name="post-title" placeholder="type">
    </div>

     <div>
      <label for="post-title" class="mx-2">Tag:</label>
      <input class="input" type="text" id="tag-title" name="post-title" placeholder="tag">
    </div>

     <div>
      <label for="post-title" class="mx-2">notes:</label>
      <input class="input" type="text" id="notes-title" name="post-title" placeholder="notes">
    </div>

     <div>
      <label for="post-title" class="mx-2">Pet owner name:</label>
      <input class="input" type="text" id="owner-title" name="post-title" id="add-pet" placeholder="petOwner">
    </div>
 


    <button type="submit" class="btn-success mt-3 mx-3 rounded" id="add-pet">Add pet</button>
  </form>
</section>

<a href="/dashboard"><button class="cards" id="back"> &larr; Back to Dashboard</button></a>

<script src="./js/pet.js"></script>
