


<h1 id = "h2Txt"></h1>

<form><input id = "search-term" type="text"></input> <button id ="apiBtn">Search</button></form>

{{!-- <h2 class = "h2Txt"> </h2> --}}

<script src="./js/search.js"></script>