<style>
:root{
  background-color: black;
}
input{
  border-radius: 30px;
  text-align: center;
}
#apiBtn{
  background-color: yellow;
  border-radius: 30px;
}
.card_content{
      background: rgb(51, 129, 246);
    padding: 3rem 0.5rem 2rem 0.5rem;
    cursor: pointer;
    text-align: center;
}
#price{
  text-align: center;
  font-size: 200%;
}
#rating{
  color: yellow;
}
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
<h1 id = ></h1>

<form><input id = "search-term" type="text" placeholder="search item"></input> <button id ="apiBtn" aria-placeholder="search">Amazon Search</button></form>

<div class="main">
  <ul class="cards">
    <li class="cards_item">


      <div class="card">
        <div class="card_image"><img id="productImg" alt="Avatar" style="width:100%"></div>
        <div class="card_content">
          <h2 id="h2Txt"></h2>
          <p id="price"></p>
          <p id="rating" class="fa fa-star checked" ></p>
          <div>
          <p id="productIdentifier" class="fa-solid fa-id-badge"></p >
          </div>
          <p id="linkA" class="fa-solid fa-link" ></p>
        </div>
      </div>


    </li>

        <li class="cards_item">


      <div class="card">
        <div class="card_image"><img id="productImgB" alt="Avatar" style="width:100%"></div>
        <div class="card_content">
          <h2 id="h2TxtB"></h2>
          <p id="priceB"></p>
          <p id="ratingB" class="fa fa-star checked" ></p>
          <div>
          <p id="productIdentifierB" class="fa-solid fa-id-badge"></p >
          </div>
          <p id="linkB" class="fa-solid fa-link" ></p>
        </div>
      </div>


    </li>

        <li class="cards_item">


      <div class="card">
        <div class="card_image"><img id="productImgC" alt="Avatar" style="width:100%"></div>
        <div class="card_content">
          <h2 id="h2TxtC"></h2>
          <p id="priceC"></p>
          <p id="ratingC" class="fa fa-star checked" ></p>
          <div>
          <p id="productIdentifierC" class="fa-solid fa-id-badge"></p >
          </div>
          <p id="linkC" class="fa-solid fa-link" ></p>
        </div>
      </div>


    </li>
  </ul>
</div>
<script src="./js/search.js"></script>