<h1 id = ></h1>

<form><input id = "search-term" type="text"></input> <button id ="apiBtn">Amazon Search</button></form>

<div class="main">
  <ul class="cards">
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img id="productImg" alt="Avatar" style="width:100%"></div>
        <div class="card_content">
          <h2 id="h2Txt"></h2>
          <p id="price"></p>
          <p id="rating"></p>
          <p id="productIdentifier"></p>
          <p id="linkA"></p>
        </div>
      </div>
    </li>


<script src="./js/search.js"></script>